@page "/culture"
@using ViewModels.Culture

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">فهرست زبان ها</h4><p class="card-description"></p>
            @if (cultures == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <p class="card-description">
                    <a class="btn btn-primary btn-fw" href="/Administrator/Culture/Create">ایجاد زبان</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> &#x641;&#x639;&#x627;&#x644; </th>
                                <th> &#x6A9;&#x62F; &#x632;&#x628;&#x627;&#x646; </th>
                                <th> &#x646;&#x627;&#x645; </th>
                                <th> &#x646;&#x627;&#x645; &#x627;&#x635;&#x644;&#x6CC; </th>
                                <th> &#x646;&#x627;&#x645; &#x642;&#x627;&#x628;&#x644; &#x646;&#x645;&#x627;&#x64A;&#x634; </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in cultures)
                            {
                                <tr>
                                    <td>
                                        @item.IsActive
                                    </td>
                                    <td>
                                        @item.Lcid
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.NativeName
                                    </td>
                                    <td>
                                        @item.DisplayName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IndexViewModel[] cultures;

    protected override async Task OnInitializedAsync()
    {
        using (var client = new HttpClient())
        {
            cultures =
                await client.GetFromJsonAsync<IndexViewModel[]>
                ("http://localhost:61132/Culture");
        }
    }
}
