@page "/operations"
@using ViewModels.Operation

@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Actions.ListOf,
        Resources.Models.Operation.EntityName);

    string strCreate =
        string.Format("{0} {1}",
        Resources.Actions.CreateOf,
        Resources.Models.Operation.EntityName);
}

<div class="col-12">
    <div class="accordion basic-accordion" id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                        <i class="card-icon mdi mdi-magnify"></i>@Resources.Buttons.Search
                    </a>
                </h6>
            </div>
            <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordion">
                <div class="card-body">
                    <EditForm Model="request">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="isActive" class="form-check-input" @bind="request.IsActive" />@Resources.DataDictionary.IsActive<i class="input-helper"></i>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="name">@Resources.Models.Operation.Name</label>
                                    <div class="col-sm-9">
                                        <InputText id="name" class="form-control" @bind-Value="request.Name"></InputText>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="displayName">@Resources.DataDictionary.DisplayName</label>
                                    <div class="col-sm-9">
                                        <InputText id="displayName" class="form-control" @bind-Value="request.DisplayName"></InputText>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="accessType">@Resources.Models.Operation.AccessType</label>
                                    <div class="col-sm-9">

                                        <select id="accessType" class="form-control" @bind="request.AccessType">
                                            <option></option>
                                            @foreach (var item in request.GetAccessTypes())
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success mr-2" @onclick="search">@Resources.Buttons.Search</button>
                        <button type="button" class="btn btn-light" @onclick="reset">@Resources.Buttons.Cancel</button>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@strTitle</h4><p class="card-description"></p>
            @if (data.Result == null)
            {
                <p><em>@Resources.DataDictionary.Loading</em></p>
            }
            else
            {
                <p class="card-description">
                    <a class="btn btn-primary btn-fw" href="/Operation/Create">@strCreate</a>
                </p>

                <MudTable ServerData="@ServerData" Hover="true" @ref="table">
                    <HeaderContent>
                        <MudTh Style="width:100px">@Resources.DataDictionary.IsActive</MudTh>
                        <MudTh>@Resources.DataDictionary.Name</MudTh>
                        <MudTh>@Resources.DataDictionary.DisplayName</MudTh>
                        <MudTh>@Resources.Models.Operation.Parent</MudTh>
                        <MudTh>@Resources.Models.Operation.AccessType</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="@Resources.DataDictionary.IsActive">
                            <input type="checkbox" checked="@context.IsActive" disabled />
                        </MudTd>
                        <MudTd DataLabel="@Resources.DataDictionary.Name">@context.Name</MudTd>
                        <MudTd DataLabel="@Resources.DataDictionary.DisplayName">@context.DisplayName</MudTd>
                        <MudTd DataLabel="@Resources.Models.Operation.Parent">@context.Parent</MudTd>
                        <MudTd DataLabel="@Resources.Models.Operation.AccessType">@context.AccessTypeValue</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 50, 100}" />
                    </PagerContent>
                </MudTable>
            }
        </div>
    </div>
</div>

@code {

    protected ViewPagingDataResult<OperationDataViewModel> data { get; set; }
    protected SearchViewModel request { get; set; }
    private MudTable<OperationDataViewModel> table;

    protected override void OnInitialized()
    {
        data = new ViewPagingDataResult<OperationDataViewModel>();
        request = new SearchViewModel();
    }

    protected async Task<TableData<OperationDataViewModel>> ServerData(TableState args = null)
    {
        request.PageIndex = args.Page;
        request.TotalCount = data.TotalCount;

        await getData();

        return new TableData<OperationDataViewModel>() { TotalItems = data.TotalCount, Items = data.Result };
    }

    async Task reset()
    {
        request = new SearchViewModel();
        await getData();
        table.ReloadServerData();
    }

    async Task search()
    {
        await getData();
        table.ReloadServerData();
    }

    async Task remove(int operationId)
    {
        await client.DeleteAsync($"Operations?operationId={operationId}");
        await OnInitializedAsync();
        table.ReloadServerData();
    }

    async Task getData()
    {
        var response =
            await client.PostAsJsonAsync($"Operations/GetData", request);

        data = await response.Content.ReadFromJsonAsync<ViewPagingDataResult<OperationDataViewModel>>();
    }

}