@page "/users"
@using ViewModels.User

@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Actions.ListOf,
        Resources.Models.User.EntitiesName);

    string strCreate =
        string.Format("{0} {1}",
        Resources.Actions.CreateOf,
        Resources.Models.User.EntityName);
}

<div class="col-12">
    <div class="accordion basic-accordion" id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                        <i class="card-icon mdi mdi-magnify"></i>@Resources.Buttons.Search
                    </a>
                </h6>
            </div>
            <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordion">
                <div class="card-body">
                    <EditForm Model="request">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="@nameof(request.IsActive)" class="form-check-input" @bind="request.IsActive" />@Resources.DataDictionary.IsActive<i class="input-helper"></i>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="@nameof(request.FullName)">@Resources.Models.User.FullName</label>
                                    <div class="col-sm-9">
                                        <InputText id="@nameof(request.FullName)" class="form-control" @bind-Value="request.FullName"></InputText>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="@nameof(request.EmailAddress)">@Resources.Models.User.EmailAddress</label>
                                    <div class="col-sm-9">
                                        <InputText id="@nameof(request.EmailAddress)" class="form-control" @bind-Value="request.EmailAddress"></InputText>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="@nameof(request.NationalCode)">@Resources.Models.User.NationalCode</label>
                                    <div class="col-sm-9">
                                        <InputText id="@nameof(request.NationalCode)" class="form-control" @bind-Value="request.NationalCode"></InputText>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="@nameof(request.UserType)">@Resources.Models.User.UserType</label>
                                    <div class="col-sm-9">

                                        <select id="@nameof(request.UserType)" class="form-control" @bind="request.UserType">
                                            <option></option>
                                            @foreach (var item in request.GetUserTypes())
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-success mr-2" @onclick="search">@Resources.Buttons.Search</button>
                        <button type="button" class="btn btn-light" @onclick="reset">@Resources.Buttons.Cancel</button>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@strTitle</h4><p class="card-description"></p>
            @if (data.Result == null)
            {
                <p><em>@Resources.DataDictionary.Loading</em></p>
            }
            else
            {
                <p class="card-description">
                    <a class="btn btn-primary btn-fw" href="/User/Create">@strCreate</a>
                </p>
                <TelerikGrid Data="@data.Result"
                             OnRead=@ReadItems
                             TotalCount="@data.TotalCount"
                             Pageable="true"
                             Class="no-scroll">
                    <GridColumns>
                        <GridColumn Title="@Resources.DataDictionary.IsActive" Width="80px">
                            <Template>
                                <input type="checkbox" checked="@((context as UserDataViewModel).IsActive)" disabled />
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(UserDataViewModel.FullName))" Title="@Resources.Models.User.FullName" Width="200px" />
                        <GridColumn Title="@Resources.Models.User.EmailAddress" Width="300px">
                            <Template>
                                <div class="text-left">
                                    @((context as UserDataViewModel).EmailAddress)
                                </div>
                            </Template>
                        </GridColumn>
                        <GridColumn Title="@Resources.Models.User.CellPhoneNumber" Width="200px">
                            <Template>
                                <div class="text-left">
                                    @((context as UserDataViewModel).CellPhoneNumber)
                                </div>
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(UserDataViewModel.UserTypeValue))" Title="@Resources.Models.User.UserType" Width="150px" />
                    </GridColumns>
                </TelerikGrid>
            }
        </div>
    </div>
</div>

@code {

    protected ViewPagingDataResult<UserDataViewModel> data { get; set; }
    protected SearchViewModel request { get; set; }

    protected override void OnInitialized()
    {
        data = new ViewPagingDataResult<UserDataViewModel>();
        request = new SearchViewModel();
    }

    protected async Task ReadItems(GridReadEventArgs args = null)
    {
        request.Page = args.Request.Page;
        request.TotalCount = data.TotalCount;

        await getData();
    }

    private async Task reset()
    {
        request = new SearchViewModel();
        await getData();
    }

    private async Task search() => await getData();

    private async Task getData()
    {
        var response =
            await client.PostAsJsonAsync($"Users/GetData", request);

        data = await response.Content.ReadFromJsonAsync<ViewPagingDataResult<UserDataViewModel>>();
    }

    private async Task remove(int userId)
    {
        await client.DeleteAsync($"Users?userId={userId}");
        await OnInitializedAsync();
    }

}