@model IEnumerable<ViewModels.Areas.Administrator.Culture.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<panel panel-title="فهرست زبان ها">

    <p class="card-description">
        <a asp-action="Create" class="btn btn-primary btn-fw">ایجاد زبان</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.IsActive) </th>
                    <th> @Html.DisplayNameFor(model => model.Lcid) </th>
                    <th> @Html.DisplayNameFor(model => model.Name) </th>
                    <th> @Html.DisplayNameFor(model => model.NativeName) </th>
                    <th> @Html.DisplayNameFor(model => model.DisplayName) </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lcid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NativeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</panel>


