
@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Actions.ListOf,
        Resources.Models.Cultures.EntityName);
}

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">

                <div class="form-check form-check-flat">
                    <label class="form-check-label">
                        <InputCheckbox id="isActive" class="form-check-input" @bind-Value="Model.IsActive"></InputCheckbox>@Resources.DataDictionary.IsActive<i class="input-helper"></i>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">@Resources.DataDictionary.Name</label>
                <div class="col-sm-9">
                    <InputText id="name" class="form-control" @bind-Value="Model.Name"></InputText>
                    <div class="error mt-2 text-danger">
                        <ValidationMessage For="() => Model.Name" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">@Resources.Models.Cultures.NativeName</label>
                <div class="col-sm-9">
                    <InputText id="nativeName" class="form-control" @bind-Value="Model.NativeName"></InputText>
                    <div class="error mt-2 text-danger">
                        <ValidationMessage For="() => Model.NativeName" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">@Resources.DataDictionary.DisplayName</label>
                <div class="col-sm-9">
                    <InputText id="nativeName" class="form-control" @bind-Value="Model.DisplayName"></InputText>
                    <div class="error mt-2 text-danger">
                        <ValidationMessage For="() => Model.DisplayName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">@Resources.DataDictionary.Lcid</label>
                <div class="col-sm-9">
                    <InputNumber id="lcid" class="form-control" @bind-Value="Model.Lcid"></InputNumber>
                    <div class="error mt-2 text-danger">
                        <ValidationMessage For="() => Model.Lcid" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success mr-2">@Resources.Buttons.Submit</button>
    <a class="btn btn-light" href="/Cultures">@Resources.Buttons.Cancel</a>

</EditForm>

@code
{
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ViewModels.Culture.CreateViewModel Model { get; set; }

    private void HandleValidSubmit()
    {
        OnValidSubmit.InvokeAsync(null);
    }
}