@page "/cultures"
@using ViewModels.Culture
@inject HttpClient client

@{
    string strTitle =
        string.Format("{0} {1}",
        Resources.Actions.ListOf,
        Resources.Models.Cultures.EntityName);

    string strCreate =
        string.Format("{0} {1}",
        Resources.Actions.CreateOf,
        Resources.Models.Cultures.EntityName);
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@strTitle</h4><p class="card-description"></p>
            @if (cultures == null)
            {
                <p><em>@Resources.DataDictionary.Loading</em></p>
            }
            else
            {
                <p class="card-description">
                    <a class="btn btn-primary btn-fw" href="/Culture/Create">@strCreate</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> @Resources.DataDictionary.IsActive </th>
                                <th> @Resources.DataDictionary.Lcid </th>
                                <th> @Resources.DataDictionary.Name </th>
                                <th> @Resources.Models.Cultures.NativeName </th>
                                <th> @Resources.DataDictionary.DisplayName </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in cultures)
                            {
                                <tr>
                                    <td>
                                        @item.IsActive
                                    </td>
                                    <td>
                                        @item.Lcid
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.NativeName
                                    </td>
                                    <td>
                                        @item.DisplayName
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" @onclick="() => RemoveCulture(item.Id)">
                                            <i class="mdi mdi-delete" data-name="mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private IndexViewModel[] cultures;
    protected override async Task OnInitializedAsync()
    {
        cultures =
            await client.GetFromJsonAsync<IndexViewModel[]>
                ("Cultures");
    }

    private async Task RemoveCulture(int cultureId)
    {
        await client.DeleteAsync($"Cultures?cultureId={cultureId}");
        await OnInitializedAsync();
    }

}
